table ,th,td{
		border: 2px solid black;
		border-collapse: collapse;
		}
th,td{
		padding:5px;
	}
body {
  	background:url(logo.png) no-repeat center
  	fixed;
  	background-size: 600px 500px;
  	margin-bottom:none;
	}
.text-line {
    background-color: transparent;
    color:black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black solid 1.5px;
}
div.arrange{
	margin-left: 115px;
	text-align: left;
}

.btn{
    color: #fff;
    background: #34b091;
    font-size: 20px;
    font-family: 'source_sans_problack';
    border-radius: 30px;
    text-transform: uppercase;
    line-height: 13px;
    cursor: pointer;
		margin-bottom:4rem;
		padding : 1rem;

  }

.btn:hover{
    background-color: #647374;
    color: #000;

  }
