form{
  background-color: DodgerBlue;
  opacity: 1;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px 15px;
}

.form-group{
  top : 50%;
  left: 50%;
  margin-top: 30vh;
  margin-left: 10vw;
  align-items: center;
  z-index: 2;
  display:flex;
}

.form-group-home{
  margin-left: 2px;
  padding: 0;
  font-size: 20px;
  align-items: center;
  z-index: 2;
  display:flex;
}
