*{
  padding: 0;
  margin: 0;
}

body {
font-style: "Garamond";
 height:100vh;
 width: 100vw;
 margin:0;
 padding:0;
 font-weight: bold;

}

.contents{
  height :100%;
  width: 100%;

}


.page-header{
  width: 100%;
  margin: 2px;
  letter-spacing: 2px;

}


.btn{
  color: #fff;
  background: #34b091;
  font-size: 12px;
  font-family: 'source_sans_problack';
  border-radius: 30px;
  text-transform: uppercase;
  line-height: 13px;
  cursor: pointer;

}

.btn:hover{
  background-color: #647374;
  color: #000;

}

form{
  margin :10px;
  padding : 25px;
  background-color: #52b092;
  opacity: 1;
}

.form-group{
  margin-left: 37vw;
  text-align: center;
  z-index: 2;
  display:flex;
  padding :6px;

}

legend{
  color: #fff;
}

/*input{
  padding:10px;
  border: none;
  color: #fff;
  align-items: center;
  position: relative;
  background-color: transparent;
  font-family: 'sans-serif'

}*/

/* Faculty List in admin.html*/
.fac_list{
  border-radius: 25px;
  border-color: #52b092;
  border-style: solid;
  padding: 35px;
  margin: 25px;
}

/* Animation used in home.html*/
.blink{
  animation: 1s linear infinite blinking;
}

@eyframes blinking{
  50% {
    opacity:0;
  }
}
