@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@media screen and (max-width: 600px) {
  .register {
    width: 100%;
    margin-top: 0;
  }
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
}
.login-box h1{
  float: left;
  font-size: 50px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 40px;
  padding: 30px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 5px solid #4caf50;
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}


 *{
  margin: 0;
  padding: 0;

}

h1{text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 15px;

}
c{
  font-size: 30px;
  font-family:'Roboto', sans-serif;
  text-align: center;
}

.register{
  margin: 50px;
  padding: 15px 5px;
            vertical-align: middle;
            border-radius: 2px;
  font-family: 'Gayathri', sans-serif;
   font-size: 20px;
   cursor: pointer;
  width: 90%;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  border: 2px solid white;
  padding: 15px;

}
#register{
  margin-left: 50px;
}

h2{
  text-align: center;
  width:50%;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid white;
  outline: 0;
  font-family: ;
  font-size: 18px;
  background: none;
}
h3{
  width:50%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  outline: 0;
  font-family: ;
  font-size: 18px;
  background: none;
}
label{
width:100%;
  padding: 5px;
  border-radius: 5px;

  outline: 0;
  font-family: ;
  font-size: 18px;
  background: none;
}
input{
  padding:4px;
  }
