{% extends "layout.html" %}
{% block title %}
Welcome
{% endblock %}
{% block body %}


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.iiitbh.ac.in/">IIIT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('home')}}">Home</a></li>
      {% if leaveapplied == 1 %}
        <li><a href = "{{url_for('rejoin')}}">Rejoin</a></li>
      {% else %}
        <li class="blink"><a href = "{{url_for('leave')}}">Apply for leave</a></li>
      {% endif %}
      {% if hod == 1 or admin==1 %}
        <li><a href = "{{url_for('list')}}">List Of Applications</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href"#"><span class="glyphicon glyphicon-user"></span>{{userdetail.name}}</a></li>
      <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<br><br>
<center>
  <h1>Faculty Profile</h1>
  <br>
  <h1><i class="far fa-user" ></i></h1>
  <br>
  Faculty Id : {{userdetail.id}}
  <br>
  Faculty Name : {{userdetail.name}}
  <br>
  Faculty Age : {{userinfo.age}}
  <br>
  {% if admin == 0 %}
  Faculty Branch : {{userinfo.department}}
  {% endif %}
  <br><br>
  <button class="btn">Update</button>
  <center><p><h3>Kindly Keep Your profile Updated</h3></p></center>

  <script>
  </script>


{% endblock %}
