<html>
<title>Leave Appliaction</title>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='leaveapp.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
	<script src = "{{url_for('static', filename='script1.js')}}"></script>
</head>
<body id="target">
	<div id="content">
	<script type="text/javascript" language="javascript">
	function EnableDisableTextBox() {
        var yes = document.getElementById("yes");
        var ft = document.getElementById("ft");
       ft.disabled = yes.checked ? false : true;
        if (!ft.disabled) {
            ft.focus();
        }
    }
	</script>
	<center>
		<br><br>
		<div style="font-size: 40px">
		<u><b>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY BHAGALPUR</b></u></div>
		<h1><u><b>LEAVE APPLICATION</b></u></h1>
		<h3>(except Casual Leave, please see note below)</h3><br>
	<form action="{{url_for('leave')}}" method="post">
	<table style="width:90%">
		<col style="width:2%">
	<col style="width:85%">
	<col style="width:3%">
	<colgroup span="4"></colgroup>
		<tr>
			<th><div style="font-size: 20px">1.</div></th>
			<th><div style="font-size: 20px"> Name of the <br>applicant</div></th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt" id="name"></td>
		</tr>
		<tr>
			<th rowspan="2" scope="rowgroup"><div style="font-size:20px">2.</th>
			<th scope="row"><div style="font-size: 21px"><b>Designation</b></div></th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt" id="position"></td>
		</tr>
		<tr>
			<th scope="row"><div style="font-size: 21px"><b>Dept. / Section / Centre</b></div>
        	</th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt" id="department"></div></td>
		</tr>
		<tr>
			<th><div style="font-size: 20px">3.</div></th>
			<th><div style="font-size: 21px">Nature & Period of Leave
					(For Spl. CL, Commuted Leave,
					Maternity Leave, Paternity Leave etc.
					please attach supporting papers)</div>
			</th>
			<td> &emsp; Nature<br><br><input type="text" class="text-line" name="nature" style="font-size: 15pt"></td>
			<td> &emsp; From<br><br><input type="date" class="text-line" name="leave_from" style="font-size: 15pt"></td>
			<td> &emsp; To<br><br><input type="date" class="text-line" name="leave_upto" style="font-size: 15pt"></td>
			<td> &emsp; No. of Days<br><br><input type="number" class="text-line" name="no_of_days" style="font-size: 15pt" id="duration"></td>
		</tr>
		<tr>
			<th rowspan="2" scope="rowgroup"><div style="font-size: 20px" >4.</div></th>
			<th rowspan="2" scope="rowgroup"><div style="font-size: 20px" >Holidays,<br>
				Prefixing / Suffixing</div></th>
			<td> &emsp; Prefix</td>
			<td> &emsp; From<br><br><input type="date" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; To<br><br><input type="date" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; No. of Days<br><br><input type="number" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
			<td> &emsp; Suffix</td>
			<td> &emsp; From<br><br><input type="date" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; To<br><br><input type="date" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; No. of Days<br><br><input type="number" class="text-line" name="" style="font-size: 15pt"></td>
		<tr>
			<th><div style="font-size: 20px" >5.</div></th>
			<th><div style="font-size: 20px" >Reasons for<br> leave<br></div></th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="reason" style="font-size: 15pt"></td>
		</tr>
			<th><div style="font-size: 20px">6.</div></th>
			<th><div style="font-size: 20px">Whether the applicant proposes to avail of Leave Travel Concession during
				the ensuing leave. If yes, please submit the Application for LTC (Form
				No. 11) duly filled in along with this application.</div></th>
			<th colspan="4" scope="colgroup"><h3><input type="radio" name="s">Yes &emsp; &emsp;  &emsp; &emsp; <input type="radio" name="s">No</h3></th>
		</tr>
		<tr>
			<th><div style="font-size: 20px" >7.</div></th>
			<th><div style="font-size: 20px" >Whether Station Leave permission required or not<br></div></th>
			<td><h3> &emsp; <input type="radio" name="chck" value="yes" id="yes" onclick="myfunc()">Yes</h3></td>
			<th colspan="2" scope="colgroup">From - To<br><br><input type="text" class="text-line" name="" id="ft" disabled="disabled" placeholder=	"from - to" style="font-size: 15pt">
			</th>
			<td><h3> &emsp; <input type="radio" name="chck" value="no" id="no" onclick="EnableDisableTextBox(this)">No</h3></td>
		</tr>
		<tr>
			<th><div style="font-size: 20px" >8.</div></th>
			<th><div style="font-size: 20px" >Are you holding any other position like HOD, HOC, HOS, Warden,
				Chairman of a Committee etc. If so, please enclose the approval/
				consent of appropriate authority for the period of leave.</div></th>
			<th colspan="4" scope="colgroup"><h3><input type="radio" name="done">Yes</h3></th>
		</tr>
		<tr>
			<th><div style="font-size: 20px" >*9.</div></th>
			<th><div style="font-size: 20px" >Arrangement for classes during the proposed leave (for faculty members)</div></th>
			<td colspan="2" scope="colgroup"><h3> &emsp; No. of classes to be missed</h3><br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td colspan="2" scope="colgroup"><h3>Alternative Arrangement</h3><br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
		<tr>
			<th rowspan="2" scope="rowgroup"><div style="font-size: 20px" >10.</div></th>
			<th rowspan="2" scope="rowgroup"><div style="font-size: 20px" >Address while on leave<br></div></th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="" placeholder="Address" style="font-size: 15pt"> &emsp; <input type="text" class="text-line" name="" placeholder="P.O.+P.S." style="font-size: 15pt"> &emsp; <input type="text" class="text-line" name="" placeholder="district" style="font-size: 15pt"></td>
		</tr>
		<tr>
			<td colspan="2" scope="colgroup"><h3>Contact Phone No. (if any) </h3><br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td colspan="2" scope="colgroup"><h3>Pin </h3><br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
	</table>
	<br>

	</center>


	<h3><div class="arrange">11. &emsp; In the event of my resignation, voluntary retirement, dismissal or removal from service or in the event of termination of my
service,<br> &emsp; &emsp; &emsp; I undertake to refund:<br><br>
&emsp; &emsp; (a) &emsp; The leave salary drawn for the period of Earned Leave, which would not have been admissible, had that leave not been credited in advance<br><br>
&emsp; &emsp; (b)  (i) The difference between the leave salary drawn during commuted leave and that admissible during half pay leave.<br><br>
&emsp; &emsp; &emsp; (ii) The leave salary drawn during leave not due.<br><br><br>
<h3>&emsp; &emsp; Date : <td>
<input type="date">
</td>
</h3>
</div>
</tr><br>
<h3>
<div style="text-align: right; margin: 80px;">Emp_No.: <input type="text" class="text-line" name="" style="font-size: 15pt" id="emp_id"><br><br>
Designation : <input type="text" class="text-line" name="" style="font-size: 15pt " id="designation"><br><br></h3>
</div><br><br><br>
<div style="border: 2px solid black; margin-left:90px; width:85%;">
<br>
<center>
<h3><b>Note:-</b>&emsp; &emsp;1.&emsp;All kinds of leave, except Casual Leave should be applied in this form and forwarded to Admn./ Faculty Affairs after recommendation of<br> &emsp; &emsp; &emsp; &emsp; &emsp; the concerned HODs/HOSs/HOCs. Casual Leave should be applied in the CL Card maintained in the respective Dept./Section/Centre.<br><br>
2.&ensp;In case the leave is requested for Project related work, please mention the Project No. at the top of the application and forward <br>to Dean, R&D through the concerned HOD/HOC/HOS.<br><br>
*3. &emsp; If the proposed leave is during the semester period, please furnish the details of alternate arrangement for the missed classes.</h3>
</div><br><br>
<center><h2><input type="submit" id="cmd" value="print"><button class="btn">Submit</button></h2></center>
</form>
</center>
</div>
<script>
	document.getElementById("name").value = "{{query.name}}";
	document.getElementById("emp_id").value = "{{query.id}}";
	document.getElementById("department").value = "{{query.department}}";
	document.getElementById('position').value = "{{query.position}}";
	if (document.getElementById('position').value === "None")
		document.getElementById('designation').value = "Professor";
	else {
		document.getElementById('designation').value = "{{query.position}}";

	}

	function myfunc(){
		var yes = document.getElementById("yes");
		var ft = document.getElementById("ft");
	 ft.disabled = yes.checked ? false : true;
		if (!ft.disabled) {
				ft.focus();
		window.open("{{url_for('stationleave')}}");
	}}
</script>
</body>
</html>
