<html>
<title>Administration</title>
<head>
	<link rel="stylesheet" type="text/css" href="leaveapp.css">
</head>
<body>
	<center>
		<br><br>
		<div style="font-size: 40px">
		<u><b>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY BHAGALPUR</b></u></div><br><br>
		<h1><u><b>FOR OFFICE USE</b></u></h1>
	<table style="width:90%">
		<caption>
		<div style="text-align: left"><h3><b>Certified that the following leave is admissible to:</b></h3></div></caption>
		<col style="width:80%">
		<col style="width:10%">
		<colgroup span="4"></colgroup>
		<tr>
			<th><div style="font-size: 20px"> Name of the <br>applicant</div></th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
		<tr>
			<th scope="row"><div style="font-size: 21px"><b>Designation</b></div></th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
		<tr>
			<th scope="row"><div style="font-size: 21px"><b>Dept. / Section / Centre</b></div>
        	</th>
			<td colspan="4" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt"></div></td>
		</tr>
		<tr>
			<th><div style="font-size: 21px">Nature & Period of Leave Admissible</div>
			</th>
			<td> &emsp; Nature<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; From<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; To<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; No. of Days<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
		<tr>
			<th rowspan="2" scope="rowgroup"><div style="font-size: 20px" >Holidays,<br>
				Prefixing / Suffixing</div></th>
			<td> &emsp; Prefix</td>
			<td> &emsp; From<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; To<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; No. of Days<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
			<td> &emsp; Suffix</td>
			<td> &emsp; From<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; To<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; No. of Days<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		<tr>
			<th><div style="font-size: 20px" >Station leave<br></div></th>
			<td> &emsp; From<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td> &emsp; To<br><br><input type="text" class="text-line" name="" style="font-size: 15pt"></td>
			<td colspan="2" scope="colgroup"> &emsp; No. of Days &emsp; <input type="text" class="text-line" name="" style="font-size: 15pt"></td>
		</tr>
			<th rowspan="3" scope="rowgroup"><div style="font-size: 20px">Balance of leave as on <input type="text" class="text-line" name="" style="font-size: 15pt"></div></th>
			<td> &emsp; Vocational Leave</td>
			<td colspan="3" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt"> &emsp; Days
			</td>
		</tr>
		<tr>
			<td> &emsp; Earned Leave</td>
			<td colspan="3" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt"> &emsp; Days
			</td>
		</tr>
		<tr>
			<td> &emsp; Half Pay Leave</td>
			<td colspan="3" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt"> &emsp; Days
			</td>
		</tr>
		<tr>
			<th colspan="2" scope="colgroup"><div style="font-size:20px" >No. of Special Casual Leave already availed in &emsp;<input type="text" class="text-line" name="" style="font-size: 15pt"></div></th>
			<td colspan="3" scope="colgroup"><input type="text" class="text-line" name="" style="font-size: 15pt"> &emsp; Days
			</td>
		</tr>
	</table>
</center>
<br><br><br>
<h3><b> &emsp; &emsp; &emsp; &emsp; &emsp;* Leave as above may be approved:</b></h3><center><input type="checkbox" name=""> Approved by dealing officials<br><br><br></center>
<h3><b> &emsp; &emsp; &emsp; &emsp; &emsp;* Approval of Sanctioning Authority:</b></h3><center><input type="checkbox" name=""> Approved by Sanctioning Authority
</center>
</body>
</html>
