<html>
<head>
	<title>Request Form</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='leave.css')}}">
</head>
<body>
	<b>
	<center>
		<div id="img">
	<table style="width:90%">
		<tr>
			<th>
			<h1>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY BHAGALPUR</h1>
		</th>
		</tr>
		<br>
		<tr>
			<th>
			<h2><u>REQUEST FORM</u></h2><br>
			<h2>I Will be Absent From <input type="text" class="text-line" name="" style="font-size: 15pt"> To <input type="text" class="text-line" name="" style="font-size: 15pt"> . I want to <br><br>Assign MY Resposibility Of <input type="text" class="text-line" name="" style="font-size: 15pt">
				To <input type="text" class="text-line" name="" style="font-size: 15pt" placeholder="Name"> With<br><br><div style="text-align: left;">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; <input type="text" class="text-line" name="" style="font-size: 15pt" placeholder="Email">.<br>
				<br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Contact_No :- <input type="text" class="text-line" name="" style="font-size: 15pt"><br>
				<br><br>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Date: <select name="">
<option value="-1">Day:</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
<select name="" id="">
<option value="-1">Month:</option>
<option value="January">Jan</option>
<option value="February">Feb</option>
<option value="March">Mar</option>
<option value="April">Apr</option>
<option value="May">May</option>
<option value="June">Jun</option>
<option value="July">Jul</option>
<option value="August">Aug</option>
<option value="September">Sep</option>
<option value="October">Oct</option>
<option value="November">Nov</option>
<option value="December">Dec</option>
</select>
<select name="" id="">
<option value="-1">Year:</option>
<option value="2019">2019</option>

</select></div>
<br><br><br>
<input type="button" value="submit">
			</h2>
			</div>
			</th>
		</tr>
	</table>
</div>
</center>
</b>
</body>
</html>
