<html>
<title>Station Leave Appliaction</title>
<head>
	<link rel="stylesheet" type="text/css" href="leave.css">
</head>
<body>
	<b>
	<center>
		<div id="img">
	<table style="width:90%">
		<tr>
			<th>
			<h1>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY BHAGALPUR</h1>
		</th>
		</tr>
		<br>
		<tr>
			<th>
			<h2><u>STATION LEAVE PERMISSION</u></h2><br>
			<h2>This is to inform you that I am proceeding on leave w.e.f.
				<input type="text" class="text-line" name="" style="font-size: 15pt">(FN / AN)
				<div class="cls">and will be out of station till  <input type="text" class="text-line" name="" style="font-size: 15pt">(FN/AN)
				<br><br><br>Address during leave:<input type="text" class="text-line" name="address" style="font-size: 15pt"> &emsp; Contact Phone No. (if any): <input type="text" class="text-line" name="" style="font-size: 15pt">
				<br><br>Date: <input type="date">
				<div style="text-align: right">Name:<input type="text" class="text-line" name="" style="font-size: 15pt">
				<br><br>Emp_No.: <input type="text" class="text-line" name="" style="font-size: 15pt">
				<br><br>Designation: <input type="text" class="text-line" name=""  style="font-size: 15pt">
				<br><br>Dept./Sec./Centre: <input type="text" class="text-line" name="" style="font-size: 15pt">
			</div>
			</h2>
			</div>
			</th>
		</tr>
	</table>
</div>
</center>
</b>
</body>
</html>
